* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  background-color: rgb(30, 45, 59);
  min-height: 100vh;
}

header {
  background-color: rgb(46, 58, 70);
  height: 50px;
  padding: 2px;
}
header > img {
  max-width: 50px;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 60%;
  margin: 0 auto;
  padding: 3% 0;
}
.item-container {
  width: 20%;
  text-align: center;
  margin: 5px 5px;
  padding: 10px 10px;
  background-color: rgb(46, 58, 70);
}

.item-container > img {
  max-width: 100%;
}

.style-title {
  color: white;
}

.style-text {
  color: rgb(107, 110, 113);
}

.selectgenre {
  text-align: center;
  padding: 10px 0;
}
